@charset "utf-8";
/* Google Fonts */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
	font-family: 'Open Sans', sans-serif;	
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:2;
	top: 20px;
	font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
}

.navigation li{
	color: white;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid white;
	text-align:left;
	width: 53px;
}
.navigation li:hover,.active{
	font-size:1.5em;
	cursor:pointer;
	width:100px!important;
	font-weight: 300;
}

.navigation li:last-child {
	border-bottom: none
}

.menubg{
	position: fixed;
	top:0%;
	left:0%;
	width: 250px;
	height: 250px;
	z-index: 1;
	border: none;
}

.greeting{
	position: absolute;
	top:10%;
	right:0%;
	width: 500px;
	margin-top:-41px;
	margin-left:-223px;
	z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width: 80%;
	height: 100%;
	margin:0 0 0 -50%;
	position: absolute;
	left: 50%;
}
.slidetitle{
	position:absolute;
	bottom:0px;
	left: 20px;
	font-size: 100px;
	font-weight: bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right: 0%;
	background-color:#333333;
	opacity: 0.6;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

#up{
	background-image:url(../images/uparrow.png);
}

#wrapper{
	width: 100%;
	height: 100%;
}

/* SLIDE 1 */

#slide1{
	background-image:url(../images/fog_toronto_small.jpg);	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* SLIDE 2 - Social */

#slide2{
	background-color:#005c99;	
}

#slide2 img:first-child{
	position: absolute;
	top: 30%;
	left: 3%;
}

#slide2 img:nth-child(2){
	position: absolute;
}
#slide2 img:nth-child(3){
	position: absolute;
}
#slide2 img:nth-child(4){
	position: absolute;
}

#social {
	color: white;
	font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 1.2em;
	position: absolute;
	width: 100%;
	top: 25%; 
}

#social ul li span {
	margin-left: 250px;
}

#social ul li span:nth-child(2) {
	margin-left: 285px;
}

#social ul li span:nth-child(3) {
	margin-left: 290px;
}

#social ul li span:nth-child(4) {
	margin-left: 285px;
}


/* SLIDE 3 - Experience */


#resumeimg {
	width: 350px
	height: 100%;
} 

#slide3{
	background-image:url(../images/slide3/mcmasterbg_small.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#slide3 img:first-child{
	position: absolute;
	width: 350px;
	left: 20%;
	top: 7%;
}
#slide3 img:nth-child(2){
	position: absolute;
	width: 350px;
	top: 15%;
	left: 20%;

}
#slide3 img:nth-child(3){
	position:absolute;
	top: 42%;
	left: 19%;
}
#slide3 img:nth-child(4){
	position:absolute;
	top: 65%;
	left: 32%;
}

.resume {
	width: 150px;
	height: 35px;
	background-image:url(../images/slide3/resumebg.png);
	display: block;
	position:absolute;
	top: 7%;
	right: 5%;
	padding: 7px;
	color: white;
	text-align: center;
  font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;	
}

.content {
	position: absolute;
	z-index: 0;
	background-image:url(../images/slide3/contentbg.png);
	color: white;
	width: 25%;
	height: 67%;
	left: 60%;
	top: 7%;
	padding: 25px;
	font-weight: 100;
}

.content h1 {
	font-family: 'Open Sans', sans-serif;	
	font-weight: 600;
}

/* SLIDE 4 - Skills */

#slide4{
	background-image:url(../images/slide4/skills_small.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxtext{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
	color: white;
	opacity: 0.6;
}

#canvas{
	position: absolute;
	left: 35%;
	top: 15%;
}

